:root{
    color: #24B388;
    color: #338069;
    color: #00E6A1;
    color: #2E4C43;
    color: #293330;
    color: #E2E2E2;
}
@font-face {
    font-family: 'inconsolata';
    src: url(../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
    font-style: normal;
}
@font-face {
    font-family: 'lato bold';
    src: url(../fonts/Lato/Lato-BoldItalic.ttf);
}
@font-face {
    font-family: 'lato';
    src: url(../fonts/Lato/Lato-Black.ttf);
}
@font-face {
    font-family: 'play';
    src: url(../fonts/Playfair-display/PlayfairDisplay-VariableFont_wght.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'lato ita';
    src: url(../fonts/Lato/Lato-LightItalic.ttf);
}
body{
    background-color: #24B388;
    margin: 0;
    color: #293330;
    cursor: url(https://images.emojiterra.com/google/noto-emoji/unicode-16.0/color/svg/1f384.svg) 12 12, auto;
}
html{
    scroll-behavior: smooth;
}
.title{
    background-color: #293330;
    gap: 10px;
    display: flex;
    align-items: center;        /* Centra verticalmente */
    justify-content: space-between; /* Espacia los tres bloques */
    padding: 10px 40px;
}
.logo{
    height: 100px;
    padding: 1px;
    width: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px 0;
}
.logo:hover{
    transform: scale(1.05);
}
.recursos {
  display: flex;
  justify-content: center;      /* centra los items horizontalmente */
  align-items: center;
  background-color: #338069;
  padding: 25px 40px;           /* menos padding */
  width: fit-content;           /* se adapta al contenido */
  margin: 0 auto;            
  border-radius: 50px;          
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  gap: 15px; 
  font-weight: 600;
  color: #E2E2E2;
  transition: all 0.3s ease;
}

#exam, #mod, #cursos {
  background-color: #2E4C43;
  padding: 20px 30px; 
  border-radius: 30px; 
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  border-style: none;
  color: #E2E2E2;
  font-family: 'lato bold';
  font-size: 20px;
}

#exam:hover,
#mod:hover,
#cursos:hover {
  background-color: #256d59;
  transform: translateY(-3px);
}

.derecha-mat{
    display: flex;
    justify-content: flex-end;
}
.mat{
    background-color: #00E6A1;
    color: #293330;
    padding: 35px;
    width: 280px;
    font-family: 'lato bold';
    font-size: 30px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px #24B388;
    margin: 10px 0;
}
.mat:hover{
    background-color: #00E6A1;
    transform: scale(1.05);
}
.publi{
    margin-left: 100px;
    font-size: 62px;
    font-family: 'play';
}
.en{
  background-color: #2E4C43;
  padding: 20px 30px; 
  border-radius: 30px; 
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  border-style: none;
  color: #E2E2E2;
  font-family: 'lato';
  font-size: 160px;
}

.en:hover{
    background-color: #256d59;
    transform: translateY(-5px);
}
.contenedor1{
    display: flex;
    justify-content: space-around;
    background-color: #24B388;
    color: #293330;
}
.imgone{
    position: relative; /* O 'absolute' */
    z-index: 10;        /* Le da un valor alto para que esté por delante */
    height: 500px;
    margin-top: 90px;
    margin-left: 200px;
}
.imgtwo{
    height: 120px;
    margin-left: 800px;
    margin-top: 100px;
}
.cuadro1{
    background-color:#293330;
    width: 550px;
    height: 500px;
    position: absolute; /* Permite que el elemento se mueva y se superponga libremente */
    z-index: 5;         /* Le da un valor BAJO para que esté DETRÁS de imgone (que tiene z-index: 10) */
    top: 220px;         /* Paso clave 2: Posicionamiento *//* Ajusta 'top' y 'left' para que se superponga donde necesites, ya que 'margin-left' no es efectivo en elementos con 'position: absolute' */
    left: 1150px;
    transform: rotate(-10deg);
}
.contenedor2{
    display: flex;
    background-color: #2E4C43;
    color: #E2E2E2;
    height: 900px;
}
.type{
    font-size: 70px;
    font-family: 'play';
}
.bol{
    width: 20px;
    height: 20px;
    background-color: #00E6A1;
    border-radius: 50%;
    margin: 0 10px;
    position: absolute;
    top: 1130px;
    left: 740px;
}
/*  2da pantalla */
.btn-selector{
    background-color: #293330;
    font-size: 25px;
    width: 600px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px #293330;
    margin: 10px 0;
    color: #E2E2E2;
    border: #00E6A1 solid 1px;
    font-family: 'lato';
    margin-left: 20px;
}
.seleccionado {
    /* El color de fondo es el mismo que el hover, pero puedes cambiarlo si quieres */
    background-color: #256d59; 
    border-color: #00E6A1;
    box-shadow: 0 0 15px #00E6A1; /* Sombra más pronunciada para indicar selección */
    transform: scale(1.02); /* Escala ligeramente diferente al hover */
}
.ten{
    font-family: 'lato';
}
.btn-selector:hover{
    background-color: #338069;
    transform: scale(1.05);
}

.eleven{
    font-family: 'lato';
}
.imgkid{
    position: absolute;
    height: 200px;
    top: 1050px;
    left: 870px;
}
.subcurso{
    background-color: #E2E2E2;
    height: 80px;
    width: 420px;
    position: absolute;
    top: 1220px;
    left: 900px;
    border: #00E6A1 solid 1px;
    border-radius: 10px;
    color: #293330;
    font-size: 50px;
}
.pre{
    background-color: #00E6A1;
    height: 20px;
    width: 75px;
    position: absolute;
    font-size: 15px;
    color: #293330;
    font-family: 'lato bold';
    text-align: center;
    border-radius: 10px ;
}
.if{
    font-family: 'inconsolata';
}
.num{
    font-family: 'lato';
    font-size: 17px;
    margin-left: 10px;
    color: #00E6A1;
}
.tex{
    font-family: 'lato ita';
    font-size: 35px;
}
.ver{
    background-color: #00E6A1;
    height: 45px;
    width: 100px;
    position: absolute;
    top: 348px;
    left: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px #24B388;
    font-family: 'lato bold';
    font-size: 16px;
}
.ver:hover{
    background-color: #00E6A1;
    transform: translateY(-3px);
}
.pre2{
    background-color: #00E6A1;
    height: 20px;
    width: 75px;
    position: absolute;
    font-size: 15px;
    color: #293330;
    font-family: 'lato bold';
    text-align: center;
    border-radius: 10px ;
}
.ki{
    font-family: 'inconsolata';
}
.num2{
    font-family: 'lato';
    font-size: 17px;
    margin-left: 10px;
    color: #00E6A1;
}
.tex2{
    font-family: 'lato ita';
    font-size: 37px;
}
.ver2{
    background-color: #00E6A1;
    height: 45px;
    width: 100px;
    position: absolute;
    top: 348px;
    left: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0 10px #24B388;
    font-family: 'lato bold';
    font-size: 16px;
}
.ver2:hover{
    background-color: #00E6A1;
    transform: translateY(-3px);
}